@tailwind base;
@tailwind components;
@tailwind utilities;

.hljs {
  padding: 0 !important;
  background: transparent !important;
}

.stream-video div {
  position: absolute !important;
  padding: 0 !important;
}
